:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color: rgb(73, 174, 255);
    /*  linear-gradient(0, rgb(115,162,182), rgb(0,91,163)) */
    --border-color: #dbdbdb;
    --header-height:68px;
    --navbar-height: 40px;
}
*{
    box-sizing: border-box;
    margin: 0px;
}

.active{
    background-color:rgb(73, 174, 255);
}


html{
    font-size: 62.5%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400px;

}
